.inputGroup {
  margin-bottom: 16px;
}

.inputLabel {
  display: block;
  margin-bottom: 6px;
  font-size: 16px;
  color: #444;
  font-weight: 600;
}

.inputField {
  background-color: rgb(244, 245, 244);
  width: 100%;
  padding: 16px 24px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  transition: border-color 0.3s ease;
  color: #444;
}

.inputField:focus {
  border-color: #00aaff;
  background-color: #fff;
}

.additionalText {
  font-size: 12px;
  color: #666;
  margin-top: 4px;
}
